.body2{
    /* background-image: url('/assets/img/physics.jpg'); */
    /* background-color: #fff; */
    background-repeat: no-repeat;
    background-size: cover;
}
.body2 .ug{
    display: flex;
    flex-direction: row;
}
/* .body2 .ug ol li{
    display: flex;
    flex-direction: row;
} */
.body2 .under{
    margin: 20px 40px;
    font-size: larger;
    font-weight: bolder;
    color: red;
}
.under2{
    display: flex;
    flex-direction: column;
    margin: 40px 10px ;
}