footer{
    height: 205px;
    width: fill;
    background-color: #0460a2;
}
.map{
    height: 150px;
    width: 250px;
    border: 2px solid black;
}
footer .links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
    width: 200px;
    background-color: #fff;
    /* overflow:scroll; */
    margin: -151px 605px ;
}
.links ol {
    display: flex;
    flex-direction: row;
    width: fill;
    height: auto;
    margin: 10px 30px ;
    justify-content: center;
    align-items: center;
}
ol li{
    color: #F1C40F;
    /* margin:9px 10px; */
padding: 3px  7px  ;
    }
li:hover{
    color:#0460a2;
}