:root{
    --color-primery:#E3EFD3;
    --color-banner:#BFC9CA;
    --color-links-background:#AAB7B8;
    --color-textcolor:#F1C40F;
    --color-text-primery-color:#BFC9CA;
    --color-text-hover:#AAB7B8;
    --color-links-text:#AEC380;

}
marquee{
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    padding: 15px 10px ;
    border: 2px solid #AAB7B8;
    border-radius: 5px;
}
marquee .newsub{
    padding: 10px 10px ;
    width: fill;
    height: 50px ;
    color:var(--color-textcolor) ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;

}
.newsub span{
    color: #f2c40c;
}
.newsub span p{
    color:#12efa2;
}